@import "tailwindcss";

@import "tailwindcss";

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  font-family: "Satoshi", sans-serif;
  text-transform: lowercase;
}

html,
body {
  margin: 0;
  font-family: "Satoshi", sans-serif;
  font-size: 15px;
  line-height: 17px;
  text-transform: lowercase;
}
.portfolio {
  display: grid;
  grid-template-columns: 45% 55%;

  width: 100%;
  height: 100vh;

  padding: 5px;
  overflow: hidden;
}

a {
  color: black;
  text-decoration: none;
}

.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-logo img {
  display: block;

  max-width: 150px;
  max-height: 50px;

  width: auto;
  height: auto;

  object-fit: contain;
}

.right-side {
  height: 100vh;
  overflow-y: auto;
  padding-left: 8px;
}

.project-link,
.about-link {
  font: inherit;
  color: inherit;
  text-transform: inherit;

  background: none;
  border: 0;
  padding: 0;

  cursor: pointer;
}

.project-year-group {
  display: grid;

  grid-template-columns: 80px 1fr;
}

.project-links {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.project-link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  background: none;
  border: 0;
  padding: 0;

  cursor: pointer;
  text-align: left;
}

.project-link.active {
  border-bottom: 1px solid black;
}

.project-gallery {
  width: 100%;
}

.project-gallery img {
  display: block;

  width: 100%;
  height: auto;
  max-height: 900px;

  object-fit: contain;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
